<Virtualize Items="(ICollection<ConversationResponseDto>)Conversations" Context="conversation" TItem="ConversationResponseDto">
    <ListItem OnClick="@(() => ConversationClick(conversation))" IsActive="conversation.IdConversation == ActiveConversationId">
        <span class="conversation-name">
            @((conversation.Name ?? string.Join(", ", conversation.Members.Select(u => $"{u.FirstName} {u.LastName}"))))
        </span>
        <div class="description-container">
            <div class="description-left">
                @if (conversation.LastMessage is not null)
                {
                    <span>
                        @((conversation.LastMessage.DeletedAt is null ? conversation.LastMessage.Content :
                            $"{conversation.LastMessage.Sender.FirstName} {conversation.LastMessage.Sender.LastName} deleted this message"))
                    </span>
                }
                else if (conversation.Name is not null && conversation.Members is not null)
                {
                    <span>@string.Join(", ", conversation.Members.Select(m => $"{m.FirstName} {m.LastName}"))</span>
                }
            </div>
            <div class="description-right">
                @if (conversation.LastMessage is not null)
                {
                    <span class="px-1"> · </span>
                    <span> @conversation.LastMessage.CreatedAt.ToAgoString() </span>
                }
            </div>
        </div>
    </ListItem>
</Virtualize>
